 body {
     text-align: center;
     background: linear-gradient(#4dff00, #fff500);
 }
 
 img {
     border-radius: 50px;
     width: 400px;
 }
 
 p {
     font-size: 18px;
     color: #030303, #fb05fc;
 }
 
 iframe {
     width: 50%;
     background-color: aquamarine;
 }