style.css body {
    text-align: center;
    background: linear-gradient(#4dff00, S#fff500);
}

img {
    border-radius: 50px;
    width: 100px;
}

p {
    font-size: 18px;
    color: #030303, #fb05fc;
}